<%- include("partials/header") %>
<link rel="stylesheet" href="/css/show_styles.css">
<%- include("partials/header2") %>
<div class="container" style="margin-top:100px">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Yelp Camps</p>
			<div class="list-group">
				<li class="list-group-item active">Option 1</li>
				<li class="list-group-item">Option 2</li>
				<li class="list-group-item">Option 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card" style="width: 100%;">
 				 <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
 				 <div class="card-body">
					  <h4 class="float-right">$<%=campground.price%>/Night<h4>
					  <h4><a href="#"><%= campground.name %></a></h4>
					 <p class="card-text"><%=campground.description%></p>
				
						<% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
						  <a href="/campgrounds/<%=campground._id %>/edit" class="btn-outline-primary btn btn-sm d-inline-block">Edit</a>
			<form class="d-inline" action="/campgrounds/<%=campground._id %>?_method=DELETE" method="POST">
			<button class="btn btn-outline-danger btn-sm">Delete</button>	
			</form>  
						  <br>
						  <br>
						<% } %>
						  
					<em>Submitted By <a href="#"><%= campground.author.username %></a></em>  
  				 </div>
            </div>
			<div class="card bg-light mt-3">
			<% campground.comments.forEach((comment)=>{ %>	
				<div class="row mt-5 mx-5">
					<div class="col-md-12">
						<h5 style="display:inline-block"><%= comment.author.username %></h5>
						<p class="float-right">10 days ago</p>
						<p><%= comment.text %></p>
						
		<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
						<form action="/campgrounds/<%=campground._id%>/comment/<%=comment._id%>/delete?_method=DELETE" method="POST" class=" d-inline">
							<button class="btn btn-sm btn-outline-danger">     Delete		</button>
						</form>
						<a class="btn btn-outline-primary btn-sm" href="/campgrounds/<%=campground._id%>/comment/<%=comment._id%>/edit">Edit</a>
						<% } %>
						<hr>
					</div>
				</div>
			<% }) %>
				
				<% if(currentUser) { %>
					<div class="m-5 commentForm container">
					<form action="/campgrounds/<%=campground._id%>/comment" method="POST">
						<span><textarea placeholder="Add a new comment" name="comment[text]"></textarea></span>
						<span><input type="submit" class="btn btn-outline-success btn-sm ml-3"></span>
					</form>
					
				</div>
				<% } else { %>
					<h4 class="text-center"><a href="/login">Please Login to comment !!!</a></h4>
				 <% } %>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>