<%- include("partials/header") %>
<link rel="stylesheet" href="/css/show_styles.css">
<%- include ("partials/header2") %>
<div class="container">
	<div>
	<h1><%= campground.name %></h1>
	<img src="<%= campground.image %>">
	<h3><%= campground.description %></h3>


	<% campground.comments.forEach((comment)=>{ %>
		<div class="d-flex">
			<p ><%=comment.text%> - <strong><%=comment.author%></strong> </p>
		<form action="/campgrounds/<%=campground._id%>/comment/<%=comment._id%>/delete?_method=DELETE" method="POST">
		<button class="btn btn-sm btn-outline-danger" style="margin-left:30px">Delete</button>
		</form>
		</div>
		
	<% }) %>
</div>
<div>
	<form action="/campgrounds/<%=campground._id%>/comment" method="POST">
		<input type="text" placeholder="Enter your comment" name="comment[text]">
		<input type="text" placeholder="Your Name" name="comment[author]">
		<input type="submit">
	</form>
	
</div>
</div>


<%- include("partials/footer") %>