<%- include ("partials/header") %>
<link rel="stylesheet" href="/css/updateCampground.css">
<%- include ("partials/header2") %>

<div class="main-box">
	<h1 class="text-center pt-5 mb-5">Edit <%= campground.name %></h1>
	<form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" class="">
		<input type="text" placeholder="Enter the name of the campground" name="campground[name]"  value="<%=campground.name%>">
		<input type="text" placeholder="Enter the URL of the campground"  name="campground[image]"  value="<%=campground.image%>">
		<div class="textarea-container">
		<input type="number" value="<%=campground.price%>" step="0.01" name="campground[price]" placeholder="Enter price of Campground">
			<textarea name="campground[description]"><%=campground.description%></textarea>
		</div>
		
		<div id="main-buttons" class="text-center">
			<input type="submit" class="btn btn-primary" class="d-inline-blocks" value="Save">
			<a class="btn btn-success" href="/campgrounds">Go Back</a>
		</div>
		
		
		
	</form>
</div>

<%- include ("partials/header") %>

